@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
body{
    background-color: lightgray;
    background-image: url(https://wallpaperaccess.com/full/6303650.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 320px;
    max-width: fit-content;
}
header{

background-image: linear-gradient(to top, #0058ec, #278cfe);
color: black;
padding: 5px;
margin: 2px;
box-shadow: 1px 2px 4px black;

}
header > h1{
    font-family: 'Comic Neue', cursive;
    text-align: center;
    color: red;
}
header > p{
    text-align: center;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
header> nav{
    margin: 0px;
    border: 1px solid black;
    background-color: gray;
    color: white;
    box-shadow: 1px 2px 3px black;
    
}
header > nav.butao{
    background-color: #0058ec;
    background-image: linear-gradient(to top, #0058ec, #278cfe);
    border: none;
}
header > nav.butao > img{
    position: absolute;
    right: 15px;
    
    width: 70px;
    
    
}
header > nav > a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid black;
    box-shadow: 1px 1px 2px black;
}
header > nav > a:hover{
    text-decoration: underline;
    color: blue;
}
main{
    background-color: white;
    padding: 5px;
    margin: 20px;
    box-shadow:1px 2px 4px rgba(0, 0, 0, 0.61);
    

}
main > p{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}
p.dream{
    color: red;
    font-family: 'Comic Neue', cursive;
    font-size: large;
    text-align: start;
    font-weight: bold;
}